XML/DTD_Exercices.xml

<!-- 1. You are to create a DTD for a small XML data set 
drawn from the Stanford course catalog. There are multiple departments, each with a department chair, 
some courses, and professors and/or lecturers who teach courses.
Dataset: https://prod-c2g.s3.amazonaws.com/db/Winter2013/files/courses-noID.xml-->

<!ELEMENT Course_Catalog (Department*)>
<!ELEMENT Department (Title,Chair,Course+)>
<!ATTLIST Department Code ID #REQUIRED>
<!ELEMENT Title (#PCDATA)>
<!ELEMENT Chair (Professor*)>
<!ELEMENT Professor (First_Name,Middle_Initial?, Last_Name)>
<!ELEMENT Course (Title, Description?, Instructors, Prerequisites?)>
<!ATTLIST Course Number ID #REQUIRED Enrollment CDATA #IMPLIED>
<!ELEMENT Description (#PCDATA)>
<!ELEMENT Instructors (Lecturer|Professor)*>
<!ELEMENT Lecturer (First_Name,Middle_Initial?, Last_Name)>
<!ELEMENT First_Name (#PCDATA)>
<!ELEMENT Middle_Initial (#PCDATA)>
<!ELEMENT Last_Name (#PCDATA)>
<!ELEMENT Prerequisites (Prereq)*>
<!ELEMENT Prereq (#PCDATA)>

<!--you are to create a DTD for a different version of the data set drawn from the Stanford course catalog. 
This version encodes the data using ID and IDREF(S) attributes. 
Dataset:https://prod-c2g.s3.amazonaws.com/db/Winter2013/files/courses-ID.xml
-->
<!ELEMENT Course_Catalog (Department*)>
<!ELEMENT Department (Title,Course+,(Professor|Lecturer)*)>
<!ATTLIST Department Code ID #REQUIRED Chair IDREF #REQUIRED>
<!ELEMENT Title (#PCDATA)>
    <!ELEMENT Course (Title, Description?)>
    <!ATTLIST Course Number ID #REQUIRED Prerequisites CDATA #IMPLIED Instructors IDREFS #REQUIRED Enrollment CDATA #IMPLIED>
    <!ELEMENT Description (#PCDATA | Courseref)*>
    <!ELEMENT Courseref EMPTY>
    <!ATTLIST Courseref Number IDREF #REQUIRED>
    <!ELEMENT Professor (First_Name,Middle_Initial?, Last_Name)>
    <!ATTLIST Professor InstrID ID #REQUIRED>
    <!ELEMENT Lecturer (First_Name,Middle_Initial?, Last_Name)>
    <!ATTLIST Lecturer InstrID ID #REQUIRED>
    <!ELEMENT First_Name (#PCDATA)>
    <!ELEMENT Middle_Initial (#PCDATA)>
    <!ELEMENT Last_Name (#PCDATA)>

<!-- In this question, you are to create a DTD for a small XML data set about world countries.
Some countries also list languages (with percentages of the population that speaks each language) 
and/or cities (with names and populations).
Dataset: https://prod-c2g.s3.amazonaws.com/db/Winter2013/files/countries.xml
-->

<!ELEMENT countries (country*)>
<!ELEMENT country (city*,language*)>
<!ATTLIST country name CDATA #REQUIRED population CDATA #REQUIRED area CDATA #REQUIRED>
<!ELEMENT city (name,population)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT population (#PCDATA)>
<!ELEMENT language (#PCDATA)>
<!ATTLIST language percentage CDATA #REQUIRED>

